# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.log
*.pot
*.py[cod]
*$py.class

# Django
db.sqlite3
media/
staticfiles/
.env

# Virtual environment
venv/
ENV/
env/
.venv/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# PyCharm
.idea/

# Render / Deployment
*.bak
*.orig

# Migrations (optional to ignore all, or keep if tracking)
# prompts/migrations/__pycache__/
# prompts/migrations/*.pyc